<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timetracker">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeTracker"
        tools:targetApi="31">

        <!-- TimeTracker Widget Receiver -->
        <receiver
            android:name=".TimeTrackerWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.timetracker.UPDATE_BOX" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.timetracker.START_TIMER_ACTION" />
                <action android:name="com.example.timetracker.ACTION_APPLY_BORDER" />
                <action android:name="com.example.timetracker.ACTION_OPEN_POPUP" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_tracker_widget_info" />
        </receiver>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustResize">
        </activity>




    <!-- PopupActivity -->
        <activity
            android:name=".PopupActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:launchMode="standard"
            android:taskAffinity=""
            android:exported="true"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".ReportActivity" />
        <activity android:name=".LabelReportsActivity" />
        <service
            android:name=".TimerService"
            android:exported="false" />


    </application>
</manifest>
